.navbar-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: top 0.3s ease;
}

.navbar-container.hide {
  top: -100px;
}

.navbar-container.show {
  top: 40px;
}

.navbar-glass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(40px);
  background: rgba(30, 30, 30, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 30px;
  border-radius: 999px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: auto;
  width: 100vw;
}

.nav-logo {
  width: 100px;
}

.nav-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 17px;
  align-items: center;
}

.nav-menu li {
  cursor: pointer;
}

.anchor-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.anchor-link:hover {
  color: #da7c25;
}

.nav-connect {
  padding: 10px 20px;
  border-radius: 999px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* Mobile Styling */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: rgba(20, 20, 20, 0.95);
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    display: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-connect-btn {
    display: none;
  }
}
