.timeline {
  background: #ffffff;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  position: relative;
  margin-bottom: 90px;
}

.title h1 {
  font-size: 64px;
  font-weight: 700;
  color: #1e1e1e;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
}

.title h1::after {
  content: '';
  width: 80px;
  height: 6px;
  background-color: #facc15;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.title img {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 240px;
  z-index: 0;
  pointer-events: none;
  
}

.vertical-timeline-element-content {
  backdrop-filter: blur(10px);
  background: #fff !important;
  border-radius: 20px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.28) !important;
  padding: 25px !important;
  transition: transform 0.3s ease;
}

.vertical-timeline-element-content:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(250, 204, 21, 0.3);
}

.vertical-timeline-element-content p {
  color: #333;
  font-size: 15px;
  line-height: 1.6;
} 

.vertical-timeline-element-content h3,
.vertical-timeline-element-content h4 {
  color: #111 !important;
  margin: 0 0 8px;
}

.vertical-timeline-element-date {
  color: #0f0f0ff9 !important; 
  font-weight: 600;
  font-size: 17px !important;
}

.vertical-timeline-element-icon {
  background: #facc15 !important;
  color: #111 !important;
  box-shadow: 0 0 0 4px rgba(250, 204, 21, 0.3) !important;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  .timeline {
    padding: 40px 10px;
  }

  .title h1 {
    font-size: 36px;
  }

  .title img {
    max-width: 140px;
    bottom: -8px;
  }

  .vertical-timeline-element-content {
    padding: 16px !important;
  }

  .vertical-timeline-element-title {
    font-size: 18px !important;
  }

  .vertical-timeline-element-subtitle {
    font-size: 16px !important;
  }

  .vertical-timeline-element-date {
    font-size: 14px !important;
  }
}
