.bob{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.bob img{
    margin-top: 26px;
    height: 250px;
    width: 250px;
}
.bob h1{
    text-align: center;
    width: 50%;
    font-size: 60px;
    font-weight: 600;
}
.bob h1 span{
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bob p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}
.bob-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.bob-connect{
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 21px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    cursor: pointer;
    transition: 0.3s;
}
.bob-connect:hover{
    border:1px solid white;
    transform: scale(1.05);

}
.bob-resume{
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: none;
    font-size: 20px;
    border:2px solid white;
    
}
.bob-resume:hover{
    border: 2px solid purple;
    transform: scale(1.05);
    transform: 0.3s;

}
.anchor-link{
    text-decoration: none;
    color: white;
}